@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --c-gray-900: #000000;
  --c-gray-800: #1f1f1f;
  --c-gray-700: #2e2e2e;
  --c-gray-600: #313131;
  --c-gray-500: #969593;
  --c-gray-400: #a6a6a6;
  --c-gray-300: #bdbbb7;
  --c-gray-200: #f1f1f1;
  --c-gray-100: #ffffff;
  --c-gray-registre: #2f2f2f;

  --c-green-500: #45ffbc;
  --c-olive-500: #e3ffa8;

  --c-white: var(--c-gray-100);

  --c-text-primary: var(--c-gray-100);
  --c-text-secondary: var(--c-gray-200);
  --c-text-tertiary: var(--c-gray-500);
}

body {
  line-height: 1.5;
  height: 100vh;
  width: 100%;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: bold;
  background-color: var(--c-gray-900);
  color: var(--c-text-primary);
}

.app {
  height: 100vh;
  width: 100%;
  background-color: var(--c-gray-800);
  padding: 2vw 4vw 4vw;
  display: flex;
  flex-direction: column;

  overflow: auto;
}

.rectangle-information-settings {
  display: flex;
  margin-top: 2%;

  height: 35vh;
  width: 100%;

  border: none;
  border-radius: 10px;

  background-color: rgba(47, 47, 47, 0.69);
}

.profile-settings {
  width: 30%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 10px;

  background-color: rgba(217, 217, 217, 0.48);

  img {
    height: 160px;
    width: 160px;
  }

  .name-profile {
    margin-top: 3%;
    font-size: 1.18rem;

    padding: 2px 10px;
    border-bottom: 1px solid #474747;
  }
}

picture {
  margin-top: 6%;

  .redaktor {
    height: 25px;
    width: 25px;
  }
}

.under-tabs {
  color: var(--c-text-tertiary);
  border-bottom: 1px solid var(--c-gray-600);

  margin-top: 5%;
  width: 100%;
}

.container {
  /* height: 100%;

  border-radius: 5px;
  background-color: #302f2f;
  box-shadow: 4px 4px 4px rgba(216, 49, 91, 1); */

  display: flex;
  flex-direction: column;
  justify-content: center;

  * {
    margin-left: auto;
    margin-right: auto;
  }
}

.header-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}
.input-name {
  font-family: "Segoe UI", sans-serif;
  margin: 1em 0 1em 3em;
  max-width: 560px;
  position: relative;
}

.input-name input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 3px solid rgba(188, 46, 82, 0.41);
  background-color: transparent;
  border-radius: 10px;
  width: 100%;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  color: white;
}

.input-name input:focus {
  border-color: 3px solid rgba(188, 46, 82, 0.41);
  box-shadow: 0 0 5px rgba(188, 46, 82, 0.41);
}

.input-name label {
  font-size: 100%;
  left: 0;
  position: absolute;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(255, 255, 255);
  z-index: 1;
}

.input-name :is(input:focus, input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.2em;
  background-color: #302f2f;
  z-index: 1;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgba(37, 37, 211, 0.8); /* Исправлено */
}

.header {
  padding-top: 30px;
  width: 85%;
  border-bottom: 2px solid #bf2f53;
}

.header-forms {
  padding-top: 50px;
  /* border-bottom: 2px solid #bf2f53; */
  width: 60%;
}

.product-description,
.funnel-description,
.metrics-description,
.target-value-metric,
.additional-data,
.choosing-tariff,
.image-product-description,
.name-product-description {
  width: 99%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.field-product-description,
.field-value-metric-description,
.field-additional-data-description,
.field-metrics-description,
.field-image-product-description,
.field-name-product-description {
  margin-top: 18px;
  width: 80%;
  height: 200px;

  text-align: left;
  vertical-align: top;

  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(188, 46, 82, 0.41);
  background-color: rgba(96, 96, 96, 0.66);

  font-size: 0.87rem;
  color: white;
  padding: 15px;

  resize: none;

  &:focus {
    outline: 0;
    border: 1px solid rgba(216, 49, 91, 1);
    box-shadow: none;
  }
}

.field-additional-data-description {
  height: 150px;
}

.field-value-metric-description {
  height: 60px;
}

/* .field-image-product-description {
  margin-bottom: 18px;
  width: 90%;
} */

.field-metrics-description {
  width: 100%;
  margin-top: 0px;
}

.field-name-metrics,
.field-description {
  margin-top: 18px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 100%;

  font-size: 1.1rem;
  font-family: "Be Vietnam Pro";
  font-weight: 600;
}

.field-description {
  margin-top: 5px;
}

.field-tarrif {
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-input-div {
  width: 100%;
  /* margin-top: 20px; */
  height: 45px;
  gap: 20px;
  display: flex;
  align-items: center;

  background-color: rgba(96, 96, 96, 0.19);
  border: none;
  border-radius: 5px;
  border: 1px solid rgb(30, 29, 29);
  box-shadow: 0 0 3px rgb(30, 29, 29);

  /* box-shadow: 4px 4px 4px rgba(188, 46, 82, 0.41); */

  padding: 5px;
}

#fileInputLabel {
  left: unset !important;
  position: unset !important;
  background-color: rgba(165, 165, 165, 0.13) !important;
  color: white !important;

  border: 1px solid rgba(96, 96, 96, 0.66) !important;
}

.fileInput {
  display: none;
}

.fileDisplay {
  margin-left: 50px;

  cursor: pointer;

  flex-wrap: wrap;

  li {
    max-width: 250px;

    overflow: hidden;

    text-overflow: ellipsis;

    white-space: nowrap;
  }

  li:hover {
    color: #ffffff98;
  }
}

.custom-file-input {
  display: inline-block;

  margin-left: 5px;

  min-height: 28px;
  max-height: 28px;

  max-width: 150px;

  padding: 4px 10px;

  background-color: rgba(32, 32, 32, 1);
  color: white;
  cursor: pointer;

  border: 1px solid #ffffff;

  border-radius: 5px;

  font-size: 0.81rem;
}

.custom-file-input:hover {
  background-color: rgb(54, 54, 54);
}

.contaner-product-description,
.contaner-value-metric,
.contaner-additional-data,
.contaner-metrics-description,
.container-image-product,
.contaner-name-product-description {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  position: relative;
  width: 99%;
}

.contaner-name-product-description {
  margin-top: 18px;
  position: relative;
}

.contaner-choosing-tariff {
  /* margin-top: 18px; */
  margin: 18px auto 18px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1rem;
  /* font-family: "Be Vietnam Pro"; */
  font-weight: bold;

  gap: 15px;
  width: 85%;
}

.contaner-choosing-color {
  display: inline-flex;

  gap: 18px;
  margin-top: 18px;
}

.forms-image-and-description {
  /* margin-top: 18px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* width: 80%; */
  width: 100%;

  /* border: 1px dashed white; */
  /* border-radius: 5px; */
}

.desription-mentrics {
  width: 80%;
}

.name-metrics,
.name-product-text {
  width: 100%;

  border: 1px solid rgba(96, 96, 96, 0.66);

  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(188, 46, 82, 0.41);
  background-color: rgba(96, 96, 96, 0.66);

  font-size: 0.87rem;
  color: white;
  padding: 13px;
  box-sizing: border-box;

  &:focus {
    border: 1px solid rgba(216, 49, 91, 1);
    box-shadow: none;
  }
}

.name-product-text {
  width: 50%;
}

.label-check-tariff {
  margin-left: 10px;
}

.button-div-generator {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 50px;

  .generator-btn {
    width: 300px;
    padding: 8px;

    border-radius: 5px;
    border: none;
    background-color: rgba(216, 49, 91, 1);

    cursor: pointer;

    color: white;

    &:hover {
      background-color: rgba(216, 49, 91, 0.7);
    }
  }
}

.button-div-download {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 50px;

  .download-btn {
    width: 200px;
    padding: 8px;

    border-radius: 5px;
    border: none;
    background-color: #1e6d39;

    cursor: pointer;

    color: white;

    &:hover {
      background-color: #1e6d3ab4;
    }
  }
}

/* .hint {
  border: none;
  width: 23px;
  height: 23px;

  margin-left: 25px;

  border-radius: 60px;
  color: white;
  background-color: rgba(216, 49, 91, 1);

  cursor: pointer;
}

.toolTitleProduct,
.toolTitleImageProduct,
.toolTitleFunnel,
.toolTitleMetrics,
.toolTitleTargetValue,
.toolTitleAdditional,
.toolTitleNameProduct {
  visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 22%;
  padding: 5px;
  height: 65px;

  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 0.93rem;
  text-align: center;
  flex-wrap: wrap;

  border-radius: 5px;
  border: none;

  top: 60%;
  left: 68%;

  color: white;
  background-color: #bf2f53;

  transition: visibility 0.8s linear;
}

.toolTitleImageProduct {
  height: 80px;

  top: 67%;
  left: 68%;
}

.toolTitleNameProduct {
  top: -85%;
  left: 53%;
}

.toolTitleFunnel {
  height: 80px;

  top: 52%;
}

.toolTitleMetrics {
  top: 72%;
}

.toolTitleTargetValue {
  height: 80px;

  top: -36%;
}

.toolTitleAdditional {
  height: 80px;
  top: 37%;
}

.toolTitleProduct.show,
.toolTitleImageProduct.show,
.toolTitleFunnel.show,
.toolTitleMetrics.show,
.toolTitleTargetValue.show,
.toolTitleAdditional.show,
.toolTitleNameProduct.show {
  visibility: visible;
  animation: fadeIn 0.3s forwards;
}

.toolTitleProduct.hide,
.toolTitleImageProduct.hide,
.toolTitleFunnel.hide,
.toolTitleMetrics.hide,
.toolTitleTargetValue.hide,
.toolTitleAdditional.hide,
.toolTitleNameProduct.hide {
  animation: fadeOut 0.3s forwards;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.fileDisplay {
  display: flex;

  align-items: center;

  gap: 10px;

  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 0.75rem;

  list-style-type: none;

  padding: 0;
}

.radio-input input {
  display: none;
}

.radio-input {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.radio-input label {
  width: 100%;
  display: flex;
  justify-content: center;

  background-color: rgba(96, 96, 96, 0.66);
  padding: 14px;

  font-size: 0.9rem;
  font-weight: bold;
  /* font-family: "Be Vietnam Pro"; */
  text-align: center;

  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgba(96, 96, 96, 0.66);
  color: #ffffff;
  transition: 0.3s ease;
}

.radio-input label:hover {
  background-color: rgba(165, 165, 165, 0.13);
  border: 1px solid rgba(96, 96, 96, 0.66);
}

.radio-input input:checked + label {
  background-color: rgba(165, 165, 165, 0.13);
  border-color: #d8315b;
  color: rgb(179, 179, 179);
}

/**/
.card {
  margin-bottom: 4em;

  background-color: #302f2f;
  border-radius: 10px;
  /* padding: 20px; */
  width: 100%;
  display: flex;
  flex-direction: column;

  background: linear-gradient(#302f2f, #302f2f) padding-box,
    linear-gradient(145deg, transparent 35%, rgb(211, 0, 53), #6040ff)
      border-box;
  border: 3.5px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  gap: 20px;
  box-sizing: border-box;
  background-size: 300% 300%;
  animation: gradient 5s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.title {
  /* font-size: 24px; */
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
}

.form {
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.group {
  display: flex;
  width: 95%;
  margin: 20px auto 0 auto;
  position: relative;
  color: white;
}

.form .group label {
  font-size: 14px;
  color: #969593;
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #302f2f;
  transition: all 0.3s ease;
  z-index: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: bold;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  background-color: #302f2f !important;
  -webkit-box-shadow: 0 0 0px 10px #302f2f inset;
}

.form .group input,
.form .group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(30, 29, 29);
  box-shadow: 0 0 3px rgb(30, 29, 29);
  /* margin-bottom: 20px; */
  outline: 0;
  width: 100%;
  background-color: transparent;
  max-width: 100%;
  box-sizing: border-box;
  /* color:rgb(171, 171, 171); */
  color: white;
}

.form .group input:placeholder-shown + label,
.form .group textarea:placeholder-shown + label {
  top: 10px;
  background-color: transparent;
  z-index: 1;
}

.form .group input:focus,
.form .group textarea:focus {
  border-color: rgba(216, 49, 91, 1);
}

.form .group input:focus + label,
.form .group textarea:focus + label {
  top: -10px;
  left: 10px;
  background-color: #302f2f;
  color: rgba(216, 49, 91, 1);
  font-weight: 600;
  font-size: 14px;
  z-index: 1;
}

.form .group textarea {
  resize: none;
  height: 100px;
}

.form button {
  background-color: rgba(216, 49, 91, 1);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form button:hover {
  background-color: rgba(216, 49, 91, 1);
}
.container-image-product,
.choosing-tariff {
  border: 1px solid rgb(30, 29, 29);
  padding: 10px;
  padding-top: 0;
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(30, 29, 29);
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generator-btn {
  margin-top: 1em;
}

.header-forms {
  margin-top: 0;
  /* margin-bottom: 10px; */
  width: 65%;
  margin: auto;
  text-align: center;
}

.tooltip {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  font-family: "Arial", sans-serif;
  right: -30px;
  top: 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: rgba(216, 49, 91, 1);
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  left: 50px;
  opacity: 0;
  transition: opacity 0.3s;

  @media (max-width: 1200px) {
    left: -200px;
  }
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent rgba(216, 49, 91, 1) transparent transparent;
}

.tooltip .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgb(146, 146, 146);
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  margin-left: 10px;
}

textarea {
  /* word-break: break-all;
  overflow-wrap: break-word; */
  overflow: hidden;
}

.my-confirm-button,
.my-error-button {
  background-color: rgba(216, 49, 91, 1) !important;

  font-family: "Be Vietnam Pro";
  font-weight: bold;
  font-size: 1.1rem !important;

  color: white !important;

  border: none !important;
  border-radius: 5px !important;

  padding: 10px 20px !important;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 50px;
  height: 50px;
  border: 5px solid #bf2f5336;
  border-top-color: #bf2f53;
  animation: spin 1s linear infinite;
  border-radius: 100%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
