@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --c-gray-900: #000000;
  --c-gray-800: #1f1f1f;
  --c-gray-700: #2e2e2e;
  --c-gray-600: #313131;
  --c-gray-500: #969593;
  --c-gray-400: #a6a6a6;
  --c-gray-300: #bdbbb7;
  --c-gray-200: #f1f1f1;
  --c-gray-100: #ffffff;

  --c-green-500: #45ffbc;
  --c-olive-500: #e3ffa8;

  --c-white: var(--c-gray-100);

  --c-text-primary: var(--c-gray-100);
  --c-text-secondary: var(--c-gray-200);
  --c-text-tertiary: var(--c-gray-500);
}


.logo-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  flex-grow: 1;
  margin-left: 7%;

  p {
    font-size: 3rem;
    margin-top: 20%;
  }

  span {
    color: rgba(216, 49, 91, 1);
  }
}

.logo {
  display: flex;
  width: 50px;
  align-items: center;
  justify-content: center;

  margin-top: 25%;
}
.lamp {
  width: 40px;
  height: auto;
  position: absolute;
}

.logo img {
  position: absolute;
  display: block;
  transition: opacity 0.3s ease;
}

.lamp-hover {
  display: block;
  width: 40px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
}

.logo:hover .lamp {
  opacity: 0;
}

.logo:hover .lamp-hover {
  opacity: 1;
}


.tiles {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1rem;
	row-gap: 1rem;
	margin-top: 1.25rem;
	@media (max-width: 700px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.tile {
	padding: 1rem;
	border-radius: 8px;
	background-color: var(--c-olive-500);
	color: var(--c-gray-900);
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	transition: 0.25s ease;

	&:hover {
		transform: translateY(-5px);
	}

	&:focus-within {
		box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-olive-500);
	}

	&:nth-child(2) {
		background-color: var(--c-green-500);
		&:focus-within {
			box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-green-500);
		}
	}
	&:nth-child(3) {
		background-color: var(--c-gray-300);
		&:focus-within {
			box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
		}
	}
	&:nth-child(4) {
		background-color: #5AFF74;
		&:focus-within {
			box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px #5AFF74;
		}
	}
	&:nth-child(5) {
		background-color: #3A9EF9;
		&:focus-within {
			box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px #3A9EF9;
		}
	}
	&:nth-child(6) {
		background-color: #FFBF1A;
		&:focus-within {
			box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px #FFBF1A;
		}
	}
	&:nth-child(7) {
		background-color: #AB96E4;
		&:focus-within {
			box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px #AB96E4;
		}
	}

	a {
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;

		.icon-button {
			color: inherit;
			border-color: inherit;
			&:hover,
			&:focus {
				background-color: transparent;
				i {
					transform: none;
				}
			}
		}

		&:focus {
			box-shadow: none;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}

.tile-header {
	display: flex;
	align-items: center;

	h3 {
		display: flex;
		flex-direction: column;
		line-height: 1.375;
	}
}

.project-name-text {
	font-size: 1rem;
	font-weight: bold;
	font-family: "Be Vietnam Pro", sans-serif;
}

.current-status-project {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;

	margin: 0px;

    padding-top: 15%;
}

.none-Project-text {
	text-align: center;

	margin-top: 100px;
	font-size: 1rem;
}

.tiles {
	height: 65vh;

	overflow: auto;
}

.tiles::-webkit-scrollbar {
    width: 12px;
    height: 12px;

	padding-left: 4px;
}

.tiles::-webkit-scrollbar-track {
    background: var(--c-gray-800);
    border-radius: 10px;
}

.tiles::-webkit-scrollbar-thumb {
    background: #413e3e;
    border-radius: 10px;
}

.tiles::-webkit-scrollbar-thumb:hover {
    background: #727171;
}

.tiles {
    padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}