<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/authorization.css">
    <title>Авторизация</title>
</head>
<body>
    <div class="app">
        <div class="authorization-forms">
            <figure class="logo-image">
                <div class="logo">
                    <img src="static/css/Fonts/logo/light-logo.png" alt="Лампочка" class="lamp">
                    <img src="static/css/Fonts/logo/blind-light-logo.png" alt="Лампочка светящаяся" class="lamp-hover">
                </div>
                <p>Start <span>Smart</span></p>
            </figure>
            <div class="field-registr">
                <h1>Авторизация</h1>
                <form class="form">
                    <div class="form-group">
                        <img src="static/css/Fonts/Icons_for_registration/icons8-user.png" alt="Иконка пользователя">
                        <input type="text" placeholder="Ваше имя" id="mail">
                    </div>
                    <div class="form-group">
                        <img src="static/css/Fonts/Icons_for_registration/icons8-password.png" alt="Иконка пароля">
                        <input type="password" placeholder="Пароль" id="password">
                    </div>
                </form>
                <div class="checked-form">
                    <input type="checkbox" name="remember-me" class="checkbox-class"/>
                    <label for="remember-user">Запомнить меня</label>
                </div>
                <button class="button-for-authorization" id="btn-authorization">
                    Войти
                </button>
                <div class="other-information">
                    <a href="registration" class="create-account-text">
                        Создать аккаунт
                    </a>
                    <div class="sign-with">
                        <p>Или войти с помощью</p>
                        <div class="icons-sign">
                            <a href="https://t.me/telegram" class="google-logo">
                                <img src="static/css/Fonts/logo/telegram_logo.png" alt="Телеграмм иконка">
                            </a>
                            <a href="https://vk.com" class="vk-logo">
                                <img src="static/css/Fonts/logo/vk_logo.png" alt="Вк иконка">
                            </a>
                            <a href="https://github.com" class="github-logo">
                                <img src="static/css/Fonts/logo/github_logo.png" alt="Гитхаб иконка">
                            </a>
                        </div>
                    </div>
                </div>
                <script src="static/js/checkUsers.js"></script>
            </div>
        </div>
    </div>
</body>
</html>