<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/authorization.css" />
    <link rel="icon" href="/static/css/Icons/icon-page.svg" />
    <link rel="stylesheet" href="/static/css/modal_alert.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>Авторизация</title>
  </head>
  <body>
    <div class="app">
      <div class="authorization-forms">
        <figure class="logo-image">
          <div class="logo">
            <img
              src="/static/css/Icons/logo/light-logo.svg"
              alt="Лампочка"
              class="lamp"
            />
            <img
              src="/static/css/Icons/logo/blind-light-logo.svg"
              alt="Лампочка светящаяся"
              class="lamp-hover"
            />
          </div>
          <p>Start <span>Smart</span></p>
        </figure>
        <div class="field-registr">
          <h1>Авторизация</h1>
          <form class="form">
            <div class="form-group">
              <img
                src="/static/css/Icons/Icons_for_registration/icons8-user.png"
                alt="Иконка пользователя"
              />
              <input type="text" placeholder="Ваш логин" id="mail" />
            </div>
            <div class="form-group">
              <img
                src="/static/css/Icons/Icons_for_registration/icons8-password.png"
                alt="Иконка пароля"
              />
              <input type="password" placeholder="Пароль" id="password" />
              <button type="button" id="toggle-password">
                <img
                  src="/static/css/Icons/Icons_for_registration/icons8-eye.svg"
                  alt="Показать пароль"
                  id="eye-icon"
                />
              </button>
            </div>
          </form>
          <div class="other-information">
            <button class="button-for-authorization" id="btn-authorization">
              Войти
            </button>
            <!-- <a href="registration" class="create-account-text">
                        Создать аккаунт
                    </a> -->
          </div>
          <!-- Модальное окно успеха -->
          <div id="successModal" class="modal">
              <div class="modal-content">
                  <i class="fas fa-check-circle" style="color: #28a745;"></i>
                  <h2>Успех</h2>
                  <p>Добро пожаловать!</p>
                  <button class="close-btn" id="successBtn">OK</button>
              </div>
          </div>

          <!-- Модальное окно ошибки -->
          <div id="errorModal" class="modal">
              <div class="modal-content">
                  <i class="fas fa-exclamation-circle" style="color: #dc3545;"></i>
                  <h2>Ошибка</h2>
                  <p>Не удалось отправить данные!</p>
                  <button class="close-btn" id="errorBtn">OK</button>
              </div>
          </div>
          <script src="static/js/authorization.js"></script>
          <script src="static/js/lookPassword.js"></script>
        </div>
      </div>
    </div>
  </body>
</html>
