<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/authorization.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Авторизация</title>
</head>
<body>
    <div class="app">
        <div class="authorization-forms">
            <figure class="logo-image">
                <div class="logo">
                    <img src="static/css/Fonts/logo/light-logo.svg" alt="Лампочка" class="lamp">
                    <img src="static/css/Fonts/logo/blind-light-logo.svg" alt="Лампочка светящаяся" class="lamp-hover">
                </div>
                <p>Start <span>Smart</span></p>
            </figure>
            <div class="field-registr">
                <h1>Авторизация</h1>
                <form class="form">
                    <div class="form-group">
                        <img src="static/css/Fonts/Icons_for_registration/icons8-user.png" alt="Иконка пользователя">
                        <input type="text" placeholder="Ваш логин" id="mail">
                    </div>
                    <div class="form-group">
                        <img src="static/css/Fonts/Icons_for_registration/icons8-password.png" alt="Иконка пароля">
                        <input type="password" placeholder="Пароль" id="password">
                    </div>
                </form>
                <div class="other-information">
                    <button class="button-for-authorization" id="btn-authorization">
                        Войти
                    </button>
                    <a href="registration" class="create-account-text">
                        Создать аккаунт
                    </a>
                </div>
                <script src="static/js/authorization.js"></script>
            </div>
        </div>
    </div>
</body>
</html>