{% extends "template.html" %}

{% block title %}Создать проект{% endblock %}

{% block styles %}
<link rel="stylesheet" href="static/css/createProject.css">  <!-- Стили для страницы проектов -->
{% endblock %}
{% block content %}
<div class="card">
    <span class="title">Форма для проекта</span>
    <form class="form">
      <div class="group">
        <input placeholder="" type="text" id="nameProjectText">
        <label for="name">Название проекта</label>
      </div>
        <div class="group">
            <textarea placeholder="" id="descriptionProjectText" name="comment" rows="5" ></textarea>
            <label for="comment">Описание продукта</label>
        </div>
        <div class="image-product-description">
            <div class="container-image-product">
                <h2 class="header-forms">Картинки продукта</h2>
                <div class="forms-image-and-description">
                    <div class="file-input-div">
                        <label for="fileInput" class="custom-file-input">Выберите файл</label>
                        <input type="file" id="fileInput" class="fileInput" multiple max="3" accept=".png, .jpg, .jpeg">
                        <ul class="fileDisplay">
                        </ul>
                    </div>
                    <textarea type="text" class="field-image-product-description" id="imageProductDescriptionText" ></textarea>
                </div>
                <!-- <button class="hint" id="hintBtnImageProduct">?</button>
                <div class="toolTitleImageProduct" id="tool-image-product">
                    Загрузите изображения продукта и добавьте краткое описание к каждой.
                </div> -->
            </div>
        </div>
        <div class="group">
            <textarea placeholder="" id="descriptionFunnelsText" name="comment" rows="5"></textarea>
            <label for="name">Описание воронки</label>
        </div>
        <div class = "contaner">
            <h2 class="header-forms">Описание метрики</h2>
            <div class="group">
                <input placeholder="" type="text"  id="nameMetricsText">
                <label for="name">Название метрики</label>
            </div>
            <div class="group">
                <textarea placeholder="" id="descriptionMetricsText" name="comment" rows="5" ></textarea>
                <label for="name">Описание метрики</label>
            </div>
        </div>
        <div class="group">
            <input placeholder="" type="text"  id="targetValueMetricText">
            <label for="name">Целевое значение метрики</label>
        </div>
        <div class="group">
            <textarea placeholder="" id="additionalDataText" name="comment" rows="5" ></textarea>
            <label for="comment">Дополнительные данные</label>
        </div>
        <div class="choosing-tariff">
            <h2 class="header-forms">Выбрать Тариф</h2>
            <div class="contaner-choosing-tariff">
                <div class="radio-input">
                    <input type="radio" id="standart-value" name="tariff" value="standart-value">
                    <label for="standart-value">Стандартная подписка, включает в себя ответ от Chat GPT, который использует специальные промты.</label>
                    <input type="radio" id="premium-value" name="tariff" value="premium-value">
                    <label for="premium-value">Премиум подписка, включает в себя стандартную, но с заметками продакт менеджера.</label>
                </div>
            </div>
        </div>
        <button type="submit" id="generator-btn">Сгенерировать</button>
    </form>
    <script src="static/js/sendProjectData.js"></script>
    <script src="static/js/giveListFile.js"></script>
</div>
{% endblock %}