<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/createProject.css">
    <title>Создание проекта</title>
</head>

<body>
    <div class="app">
        <header class="app-header">
            <div class="app-header-logo">
                <div class="logo">
                    <span class="logo-icon">
                        <img src="static/css/Fonts/logo/logo-main.svg" />
                    </span>
                    <h1 class="logo-title">
                        <span>Start Smart</span>
                    </h1>
                </div>
            </div>
            <div class="app-header-navigation">
                <div class="tabs"></div>
            </div>
            <div class="app-header-actions">
                <button class="user-profile">
                    <span>Валерия Шишкина</span>
                    <span>
                        <img src="static/css/Fonts/sticker.webp" />
                    </span>
                </button>
            </div>
            <div class="app-header-mobile">
                <button class="icon-button large">
                    <i class="ph-list"></i>
                </button>
            </div>
        </header>
        <div class="app-body">
            <div class="app-body-navigation">
                <nav class="navigation">
                    <a href="#" class="createprojectLink">
                        <img src="static/css/Fonts/Icons_for_navigation/creat_project-icon.png" class="addProject"
                            alt="альтернативный текст">
                        <span>Создать проект</span>
                    </a>
                    <a href="my_projects" class="myProjectsLink">
                        <img src="static/css/Fonts/Icons_for_navigation/event_note-icon.png" class="addProject"
                            alt="альтернативный текст">
                        <span>Мои проекты</span>
                    </a>
                    <a href="settings" class="settingsPageLink">
                        <img src="static/css/Fonts/Icons_for_navigation/settings-icon.png" class="addProject"
                            alt="альтернативный текст">
                        <span>Настройки</span>
                    </a>
                    <a href="#" class="exitsPageLink">
                        <img src="static/css/Fonts/Icons_for_navigation/exit-icon.png" class="addProject"
                            alt="альтернативный текст">
                        <span>Выход</span>
                    </a>
                </nav>
                <footer class="footer">
                    <h1>Start Smart<small>©</small></h1>
                </footer>
            </div>
            <div class="app-body-main-content">
                <div class="container">
                    <div class="header-container">
                        <h1 class="header">Форма для проекта</h1>
                    </div>
                    <div class="name-product-description">
                        <h2 class="header-forms">Название проекта</h2>
                        <div class="contaner-name-product-description">
                            <input type="text" class="name-product-text">
                            <button class="hint" id="hintBtnNameProduct">?</button>
                            <div class="toolTitleNameProduct" id="tool-name-product">
                                Это название будет написано на вашей карточки проекта.
                            </div>
                        </div>
                    </div>
                    <div class="product-description">
                        <h2 class="header-forms">Описание продукта</h2>
                        <div class="contaner-product-description">
                            <textarea type="text" class="field-product-description"></textarea>
                            <button class="hint" id="hintBtnProductTitle">?</button>
                            <div class="toolTitleProduct" id="tool-product">
                                Опишите ваш продукт в 3-4 предложения.
                            </div>
                        </div>
                    </div>
                    <div class="image-product-description">
                        <h2 class="header-forms">Картинки продукта</h2>
                        <div class="container-image-product">
                            <div class="forms-image-and-description">
                                <div class="file-input-div">
                                    <label for="fileInput" class="custom-file-input">Выберите файл</label>
                                    <input type="file" id="fileInput" class="fileInput" multiple max="5">
                                    <ul class="fileDisplay">
                                    </ul>
                                </div>
                                <textarea type="text" class="field-image-product-description"></textarea>
                            </div>
                            <button class="hint" id="hintBtnImageProduct">?</button>
                            <div class="toolTitleImageProduct" id="tool-image-product">
                                Загрузите изображения продукта и добавьте краткое описание к каждой.
                            </div>
                        </div>
                    </div>
                    <div class="funnel-description">
                        <h2 class="header-forms">Описание воронки</h2>
                        <div class="contaner-product-description">
                            <textarea type="text" class="field-product-description"></textarea>
                            <button class="hint" id="hintBtnFunnel">?</button>
                            <div class="toolTitleFunnel" id="tool-funnel">
                                Введите описание воронки продаж или другой маркетинговой стратегии.
                            </div>
                        </div>
                    </div>
                    <div class="metrics-description">
                        <h2 class="header-forms">Описание метрики</h2>
                        <div class="contaner-metrics-description">
                            <div class="desription-mentrics">
                                <div class="field-name-metrics">
                                    <label for="">Название метрики</label>
                                    <input type="text" class="name-metrics">
                                </div>
                                <div class="field-description">
                                    <label for="">Описание метрики</label>
                                    <textarea type="text" class="field-metrics-description"></textarea>
                                </div>
                            </div>
                            <button class="hint" id="hintBtnMetrics">?</button>
                            <div class="toolTitleMetrics" id="tool-metric">
                                Введите название метрики и её описание.
                            </div>
                        </div>
                    </div>
                    <div class="target-value-metric">
                        <h2 class="header-forms">Целевое значение метрики</h2>
                        <div class="contaner-value-metric">
                            <textarea type="text" class="field-value-metric-description"></textarea>
                            <button class="hint" id="hintBtnTargetValue">?</button>
                            <div class="toolTitleTargetValue" id="tool-target-value">
                                Введите целевое значение метрики и насколько её нужно увеличить.
                            </div>
                        </div>
                    </div>
                    <div class="additional-data">
                        <h2 class="header-forms">Дополнительные данные (необязательно)</h2>
                        <div class="contaner-additional-data">
                            <textarea type="text" class="field-additional-data-description"></textarea>
                            <button class="hint" id="hintBtnAdditionalData">?</button>
                            <div class="toolTitleAdditional" id="tool-additional-data">
                                Введите любые дополнительные данные, если есть.
                            </div>
                        </div>
                    </div>
                    <div class="choosing-tariff">
                        <h2 class="header-forms">Выбрать Тариф</h2>
                        <div class="contaner-choosing-tariff">
                            <div class="radio-input">
                                <input type="radio" id="standart-value" name="tariff" value="standart-value">
                                <label for="standart-value">Стандартная подписка, включает в себя ответ от Chat GPT, который использует специальные промты.</label>
                                <input type="radio" id="premium-value" name="tariff" value="premium-value">
                                <label for="premium-value">Премиум подписка, включает в себя стандартную, но с заметками продакт менеджера.</label>
                            </div>
                        </div>
                    </div>
                    <div class="button-div-generator">
                        <button class="generator-btn">Сгенерировать</button>
                    </div>
                </div>

                <div class="under-tabs"></div>
                <script src="static/js/giveListFile.js"></script>
                <script src="static/js/getHint.js"></script>
            </div>
        </div>
    </div>
</body>

</html>