<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/createdProjects.css" />
    <link rel="icon" href="static/css/Fonts/logo.jpg" type="image/icon type">

    <title>Создать проект</title>
</head>
<body>
    <div class = "bodyClass">
        <div class = "leftDivNavigator">
            <div class = "nicknameProfile">
            
            </div>
            <div class = "navigation">
                <div class = "profil"></div>
                <div class = "menu">
                    <div class="createproject">
                        <a href="#" class="createprojectLink">
                            <img src="static/css/Fonts/add.png" alt="альтернативный текст">
                            <span class="createprojectText"> Создать проект </span>
                        </a>
                    </div>
                    <div class="myProjects">
                        <a href="my_projects" class="myProjectsLink">
                            <img src="static/css/Fonts/event_note.png" alt="альтернативный текст">
                            <span class="myProjectsText"> Мои проекты </span>
                        </a>
                    </div>
                    <div class="settingsPage">
                        <a href="options" class="settingsPageLink">
                            <img src="static/css/Fonts/build.png" alt="альтернативный текст">
                            <span class="settingsPageText"> Настройки </span>
                        </a>
                    </div>
                    <div class="exitsPage">
                        <a href="#" class="exitsPageLink">
                            <img src="static/css/Fonts/exit.png" alt="альтернативный текст">
                            <span class="exitsPageText"> Выход </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class = "rightBody">
            <button id="showModalBtn">Создать проект</button>
            <div id="overlay"></div>
                <div id="modal">
                    <span class="close">&times;</span>
                    <p>Есть идея для проекта?</p>
                    <div class = "quastionFormModal">
                        <a href = "yes_idea">
                            ДА 
                        </a>
                        <a href = "no_idea">
                            НЕТ 
                        </a>
                    <div>
                </div>
        </div>
        <script src="static/js/modalWindow.js"></script>
    </div>
</body>