<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/main_page.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <div class = "bodyClass"> 
        <div class = "navigation">
            <div class = "profil"></div>
            <div class = "menu">
                <a href = "#" class = "createproject"> Создать проект </a>
                <a href = "#" class = "myProjects"> Мои проекты </a>
                <a href = "#" class = "settings"> Настройки </a>
            </div>
        </div>
        <div class = "listOfProjects">
            <div class = "searchZone">
                <p class = "text-main">Активные</p>
                <form class = "search">
                    <input class = "inputTextSearch" type="text" placeholder="Искать здесь...">
                    <button class = "searchBtn" type="submit"></button>
                </form>
            </div>
            <div class = "projects" id = "projectsContainer">
                <!-- <div class = "projectsOne">
                    <div class = "rectangle"></div>
                    <p class = "nameProject"> БААААР </p>
                    <div class = "descriptionProject">
                        БЛА БЛА БЛА БЛА АХУЕННО
                    </div>
                </div>
                <div class = "projectsOne">
                    <div class = "rectangle">
                        
                    </div>
                    <p class = "nameProject"> БААААР </p>
                    <div class = "descriptionProject">
                        БЛА БЛА БЛА БЛА АХУЕННО
                    </div>
                </div>
                <div class = "projectsOne">
                    <div class = "rectangle">
                        
                    </div>
                    <p class = "nameProject"> БААААР </p>
                    <div class = "descriptionProject">
                        БЛА БЛА БЛА БЛА АХУЕННО
                    </div>
                </div>
                <div class = "projectsOne">
                    <div class = "rectangle">
                        
                    </div>
                    <p class = "nameProject"> БААААР </p>
                    <div class = "descriptionProject">
                        БЛА БЛА БЛА БЛА АХУЕННО
                    </div>
                </div>
                <div class = "projectsOne">
                    <div class = "rectangle">
                        
                    </div>
                    <p class = "nameProject"> БААААР </p>
                    <div class = "descriptionProject">
                        БЛА БЛА БЛА БЛА АХУЕННО
                    </div>
                </div>
                <div class = "projectsOne">
                    <div class = "rectangle">
                        
                    </div>
                    <p class = "nameProject"> БААААР </p>
                    <div class = "descriptionProject">
                        БЛА БЛА БЛА БЛА АХУЕННО
                    </div>
                </div>
                <div class = "projectsOne">
                    <div class = "rectangle">
                        
                    </div>
                    <p class = "nameProject"> БААААР </p>
                    <div class = "descriptionProject">
                        БЛА БЛА БЛА БЛА АХУЕННО
                    </div>
                </div>
                <div class = "projectsOne">
                    <div class = "rectangle">
                        
                    </div>
                    <p class = "nameProject"> sdasd </p>
                    <div class = "descriptionProject">
                        БЛА БЛА БЛА БЛА АХУЕННО
                    </div>
                </div>
                <div class = "projectsOne">
                    <div class = "rectangle">
                        
                    </div>
                    <p class = "nameProject"> sdasd </p>
                    <div class = "descriptionProject">
                        БЛА БЛА БЛА БЛА АХУЕННО
                    </div>
                </div> -->
            </div>
        </div>
        <script src = "static/js/getProjects.js"></script>
    </div>
</body>
</html>