{% extends "template.html" %}

{% block title %}Мои проекты{% endblock %}

{% block styles %}
<link rel="stylesheet" href="static/css/myProjects.css">  <!-- Стили для страницы проектов -->
{% endblock %}
{% block content %}
<section class="service-section">
    <h2>Проекты</h2>
    <div class="tiles">
        {% for project in projects %}
        <article class="tile">
            <div class="tile-header">
                <h3><span>{{ project.name }}</span></h3>
            </div>
            <div class="current-status-project">
                {% if project.status == 0 %}
                <img src="static/css/Fonts/Project_status_icons/status-Active.svg" class="statusProject" alt="{{ project.status }}" />
                {% else %}
                <img src="static/css/Fonts/Project_status_icons/status-Disabled.svg" class="statusProject" alt="{{ project.status }}" />
                {% endif %}
            </div>
            <a href="create_projects_none">
                <span>Перейти в проект</span>
                <span class="icon-button">
                    <img src="static/css/Fonts/Project_status_icons/right-arrow_87425.png" alt="альтернативный текст" />
                </span>
            </a>
        </article>
        {% endfor %}
    </div>
</section>
<script src="static/js/getProjects.js"></script>
<script src="static/js/getNickaname.js"></script>
{% endblock %}