<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/myProjects.css" />
    <title>Мои проекты</title>
  </head>
  <body>
    <div class="app">
      <header class="app-header">
        <div class="app-header-logo">
          <div class="logo">
            <!-- <span class="logo-icon">
              <img src="static/css/Fonts/logo/llogo_main.svg" />
            </span> -->
            <img src="static/css/Fonts/logo/light-logo.svg" alt="Лампочка" class="lamp">
            <img src="static/css/Fonts/logo/blind-light-logo.svg" alt="Лампочка светящаяся" class="lamp-hover">
            <h1 class="logo-title" style = "gap: 5px; margin-left: 100px;">
                <span style="color: white;">Start </span>

                <span class="Smart" style="color:#D8315B;">Smart</span>
            </h1>
          </div>
        </div>
        <div class="app-header-navigation">
          <div class="tabs"></div>
        </div>
        <div class="app-header-actions">
          <button class="user-profile">
            <span>{{nickname}}</span>
            <span>
              <img src="static/css/Fonts/sticker.webp" />
            </span>
          </button>
        </div>
        <div class="app-header-mobile">
          <button class="icon-button large">
            <i class="ph-list"></i>
          </button>
        </div>
      </header>
      <div class="app-body">
        <div class="app-body-navigation">
          <nav class="navigation">
            <a href="create_projects" class="createprojectLink">
              <img
                src="static/css/Fonts/Icons_for_navigation/creat_project-icon.png"
                class="addProject"
                alt="альтернативный текст"
              />
              <span>Создать проект</span>
            </a>
            <a href="#" class="myProjectsLink">
              <img
                src="static/css/Fonts/Icons_for_navigation/event_note-icon.png"
                alt="альтернативный текст"
              />
              <span>Мои проекты</span>
            </a>
            <!-- НАСТРОЙКИ -->
            <!-- <a href="settings" class="settingsPageLink">
              <img
                src="static/css/Fonts/Icons_for_navigation/settings-icon.png"
                alt="альтернативный текст"
              />
              <span>Настройки</span>
            </a> -->
            <a href="#" class="exitsPageLink">
              <img
                src="static/css/Fonts/Icons_for_navigation/exit-icon.png"
                alt="альтернативный текст"
              />
              <span>Выход</span>
            </a>
          </nav>
          <footer class="footer">
            <h1>Start <span class="Smart-span">Smart</span><small>©</small></h1>
          </footer>
        </div>
        <div class="app-body-main-content">
          <section class="service-section">
            <h2>Проекты</h2>
            <div class="service-section-header">
              <div class="search-field" style="visibility: hidden;">
                <img
                  src="static/css/Fonts/Icons_for_navigation/search-interface-symbol.svg"
                  class="search-img"
                  alt="альтернативный текст"
                />
                <input type="text" placeholder="Название проекта" />
              </div>
              <button class="flat-button" style="visibility: hidden;">Поиск</button>
            </div>
            <div class="mobile-only">
              <button class="flat-button">Toggle search</button>
            </div>
            <div class="tiles">
              {% for project in projects %}
              <article class="tile">
                <div class="tile-header">
                  <h3><span>{{ project.name }}</span></h3>
                </div>
                <div class="current-status-project">
                    {% if project.status == 0 %}
                        <img
                            src="static/css/Fonts/Project_status_icons/status-Active.svg"
                            class="statusProject"
                            alt="{{ project.status }}"
                        />
                    {%  else %}
                        <img
                            src="static/css/Fonts/Project_status_icons/status-Disabled.svg"
                            class="statusProject"
                            alt="{{ project.status }}"
                        />
                    {% endif %}
                </div>
                <a href="#">
                  <span>Перейти в проект</span>
                  <span class="icon-button">
                    <img
                      src="static/css/Fonts/Project_status_icons/right-arrow_87425.png"
                      alt="альтернативный текст"
                    />
                  </span>
                </a>
              </article>
              {% endfor %}
            </div>
          </section>
          <script src="static/js/getProjects.js"></script>
          <div class="under-tabs"></div>
        </div>
      </div>
    </div>
  </body>
</html>
