<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/options.css" />
    <title>Настройки</title>
</head>
<body>
    <div class = "bodyClass">
        <div class = "leftDivNavigator">
            <div class = "nicknameProfile">
            
            </div>
            <div class = "navigation">
                <div class = "profil"></div>
                <div class = "menu">
                    <div class="createproject">
                        <a href="#" class="createprojectLink">
                            <img src="static/css/Fonts/add.png" alt="альтернативный текст">
                            <span class="createprojectText"> Создать проект </span>
                        </a>
                    </div>
                    <div class="myProjects">
                        <a href="#" class="myProjectsLink">
                            <img src="static/css/Fonts/event_note.png" alt="альтернативный текст">
                            <span class="myProjectsText"> Мои проекты </span>
                        </a>
                    </div>
                    <div class="settingsPage">
                        <a href="#" class="settingsPageLink">
                            <img src="static/css/Fonts/build.png" alt="альтернативный текст">
                            <span class="settingsPageText"> Настройки </span>
                        </a>
                    </div>
                    <div class="exitsPage">
                        <a href="#" class="exitsPageLink">
                            <img src="static/css/Fonts/exit.png" alt="альтернативный текст">
                            <span class="exitsPageText"> Выход </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class = "mainDiv">
            <div class="settings">
                <button id="profileButton" class="active">Личный кабинет</button>
                <button id="securityButton">Безопасность</button>
            </div>
            <div id="windowProfile" class="window">
                <div class = "ProfileIcon">
                    <img src="static/css/Fonts/Shape.png" alt="альтернативный текст">
                </div>
                <div class = "inputsForms">
                    <div class = "inputNickname">
                        <img src="static/css/Fonts/man.png" alt="альтернативный текст">
                        <input type="text" id="nicknameInput" name="name" placeholder = "Имя пользователя"/>
                    </div>
                    <div class = "inputEmail">
                        <img src="static/css/Fonts/icon-mail.png" alt="альтернативный текст">
                        <input type="text" id="emailInput" name="name" placeholder = "Текущая почта"/>
                    </div>
                    <div class = "linkMail">
                        <a href='#' class = "linkMailtext">
                            Привязать почту
                        </a>
                    </div>
                </div>
            </div>
              
            <div id="windowSafetySection" class="window">
                <div class = "mainText">
                    <p class = "mainTextP">Смена пароля</p>
                </div>
                <div class = "inputsPassword">
                    <div class = "inputOldPassword">
                        <input type="password" id="oldPasswordInput" name="name" placeholder = "Старый пароль"/>
                    </div>
                    <div class = "inputNewParol">
                        <input type="password" id="newPasswordInput" name="name" placeholder = "Новый пароль"/>
                    </div>
                    <div class = "inputRepeatParol">
                        <input type="password" id="repeatPasswordInput" name="passwod" placeholder = "Повторить пароль"/>
                    </div>
                    <div>
                        <button id="swapButton">Сменить</button>
                    </div>  
                </div>
            </div>
            <script src = "static/js/settingsPage.js"></script>
        </div>
    </div>
</body>