{% extends "template.html" %} {% block title %}Мой проект{% endblock %} {% block
styles %} <link rel="stylesheet" href="/static/css/createProject.css" />
<link rel="stylesheet" href="/static/css/project.css" />
{% endblock %} {% block content %}
<div class="card">
  <span class="title">Форма для проекта</span>
  <form class="form" enctype="multipart/form-data">
    <div class = "container">
      <div class="group">
        <input
          placeholder=""
          type="text"
          id="nameProjectText"
          value="{{project.title}}"
          readonly
        />
        <label for="nameProjectText">Название проекта</label>
        <div class="tooltip">
          <div class="icon">i</div>
          <div class="tooltiptext">
            В данном поле необходимо ввести название вашего проекта.
          </div>
        </div>
      </div>
      <div class="group">
        <textarea
          placeholder=""
          id="descriptionProjectText"
          name="comment"
          rows="5"
          readonly
          oninput="autoResizeTextarea(this)"
        >
  {{project.description}}</textarea
        >
        <label for="descriptionProjectText">Описание продукта</label>
        <div class="tooltip">
          <div class="icon">i</div>
          <div class="tooltiptext">Опишите ваш продукт 3 - 4 предложениями.</div>
        </div>
      </div>
      <div class="group">
        <textarea
          placeholder=""
          id="descriptionFunnelsText"
          name="comment"
          rows="5"
          readonly
          oninput="autoResizeTextarea(this)"
        >
  {{project.funnel_desc}}</textarea
        >
        <label for="name">Описание воронки</label>
        <div class="tooltip">
          <div class="icon">i</div>
          <div class="tooltiptext">
            Введите описание воронки продаж или другой маркетинговой стратегии.
          </div>
        </div>
      </div>
    </div>
    <div class = "container">
      <h2 class="header-forms">Картинки продукта</h2>
      <div class="group">
        <div class="tooltip">
          <div class="icon">i</div>
          <div class="tooltiptext">
            В данном поле вы можете прикрепить картинки.
          </div>
        </div>
        <div class="forms-image-and-description">
          <div class="file-input-div">
            <p>Ваши выбранные файлы</p>
            <ul class="imageDisplay"></ul>
          </div>
          <textarea
            type="text"
            class="field-image-product-description"
            id="imageProductDescriptionText"
            readonly
            oninput="autoResizeTextarea(this)"
          >
{{project.img_desc}}</textarea
          >
        </div>
      </div>
    </div>
    <div class="contaner">
      <h2 class="header-forms">Описание метрики</h2>
      <div class="group">
        <input
          placeholder=""
          id="nameMetricsText"
          type="text"
          value="{{project.metric_title}}"
          readonly
          oninput="autoResizeTextarea(this)"
        />
        <label for="nameMetricsText">Название метрики</label>
        <div class="tooltip">
          <div class="icon">i</div>
          <div class="tooltiptext">Введите название метрики.</div>
        </div>
      </div>
      <div class="group">
        <textarea
          placeholder=""
          id="descriptionMetricsText"
          name="comment"
          rows="5"
          readonly
        >
{{project.metric_desc}}</textarea
        >
        <label for="descriptionMetricsText">Описание метрики</label>
        <div class="tooltip">
          <div class="icon">i</div>
          <div class="tooltiptext">Введите описание метрики.</div>
        </div>
      </div>
    </div>
    <div class="group">
      <input
        placeholder=""
        id="targetValueMetricText"
        type="text"
        value="{{project.metric_target}}"
        readonly
      />
      <label for="targetValueMetricText">Целевое значение метрики</label>
      <div class="tooltip">
        <div class="icon">i</div>
        <div class="tooltiptext">
          Введите целевое значение метрики и насколько её нужно увеличить.
        </div>
      </div>
    </div>
    <div class="group">
      <textarea
        placeholder=""
        id="additionalDataText"
        name="comment"
        rows="5"
        readonly
        oninput="autoResizeTextarea(this)"
      >
{{project.extra_data}}</textarea
      >
      <label for="additionalDataText">Дополнительные данные</label>
      <div class="tooltip">
        <div class="icon">i</div>
        <div class="tooltiptext">
          Введите любые дополнительные данные, если есть.
        </div>
      </div>
    </div>
    <div class="container">
      <h2 class="header-forms">Выбрать Тариф</h2>
      <div class="contaner-choosing-tariff">
        <div class="radio-input">
          <input type="radio" id="standart-value" name="tariff"
          value="standart-value" {% if project.tariff == 1 %} checked {% endif
          %} disabled />
          <label for="standart-value"
            >Стандартная подписка, включает в себя ответ от Chat GPT, который
            использует специальные промты.</label
          >
          <input type="radio" id="premium-value" name="tariff"
          value="premium-value" {% if project.tariff == 0 %} checked {% endif %}
          disabled />
          <label for="premium-value"
            >Премиум подписка, включает в себя стандартную, но с заметками
            продакт менеджера.</label
          >
        </div>
      </div>
    </div>
    {% if project.status == 1 %}
    <button class="download-file">Скачать</button>
    {% endif %}
  </form>
</div>
<script src="/static/js/GetProjectImages.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
<script src="/static/js/autoSizeTextarea.js"></script>
{% endblock %}
