<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/registration.css">
    <link rel="icon" href="/static/css/Fonts/icon-page.svg">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Регистрация </title>
</head>
<body>
    <div class="app">
        <div class="registration-forms">
            <div class="field-registr">
                <h1>Регистрация</h1>
                <form class="form">
                    <div class="form-group">
                        <img src="static/css/Fonts/Icons_for_registration/icons8-user.png" alt="Иконка пользователя">
                        <input type="text" placeholder="Ваше имя" id="name">
                    </div>
                    <div class="form-group">
                        <img src="static/css/Fonts/Icons_for_registration/icons8-mail.png" alt="Иконка почты">
                        <input type="email" placeholder="Почта" id="mail">
                    </div>
                    <div class="form-group">
                        <img src="static/css/Fonts/Icons_for_registration/icons8-password.png" alt="Иконка пароля">
                        <input type="password" placeholder="Пароль" id="password">
                        <button type="button" id="toggle-password">
                            <img src="/static/css/Fonts/Icons_for_registration/icons8-eye.svg" alt="Показать пароль" id="eye-icon">
                        </button>
                    </div>
                    <div class="form-group">
                        <img src="static/css/Fonts/Icons_for_registration/icons8-password-blind.png" alt="Иконка повторите пароль">
                        <input type="password" placeholder="Повторите пароль" id="repPassword">
                        <button type="button" id="toggle-repPassword">
                            <img src="/static/css/Fonts/Icons_for_registration/icons8-eye.svg" alt="Показать пароль" id="eye-icon-rep">
                        </button>
                    </div>
                </form>
                <div class = "other-information">
                    <button class="button-for-registration" id="btn-registr">
                        Зарегистрироваться
                    </button>
                    <a href="/" class="back-to-auth">
                        Вернуться назад
                    </a>
                </div>
            <script src="static/js/registrScript.js"></script>
            <script src="static/js/lookPassword.js"></script>
            </div>
            <picture class="logo-image">
                <div class="logo">
                    <img src="static/css/Fonts/logo/light-logo.svg" alt="Лампочка" class="lamp">
                    <img src="static/css/Fonts/logo/blind-light-logo.svg" alt="Лампочка светящаяся" class="lamp-hover">
                </div>
                <p>Start <span>Smart</span></p>
            </picture>
        </div>
    </div>
</body>
</html>