<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/template.css" />
    <link rel="icon" href="/static/css/Fonts/icon-page.svg">
    <title>{% block title %}Start Smart{% endblock %}</title>
    {% block styles %}{% endblock %}
  </head>
  <body>
    <div class="app">
      <header class="app-header">
        <div class="app-header-logo">
          <a class="logo" href="/my_projects" style = "text-decoration: none;">
            <img src="/static/css/Fonts/logo/light-logo.svg" alt="Лампочка" class="lamp">
            <img src="/static/css/Fonts/logo/blind-light-logo.svg" alt="Лампочка светящаяся" class="lamp-hover">
            <h1 class="logo-title" style = "gap: 5px; margin-left: 100px;">
                <span style="color: white;">Start </span>
                <span class="Smart" style="color:#D8315B;">Smart</span>
            </h1>
          </a>
        </div>
        <div class="app-header-navigation">
          <div class="tabs"></div>
        </div>
        <div class="app-header-actions">
          <button class="user-profile">
            <span>{{nickname}}</span>
            <span>
              <img src="/static/css/Fonts/user-icon-default.svg" />
            </span>
          </button>
        </div>
        <div class="app-header-mobile">
          <button class="icon-button large">
            <i class="ph-list"></i>
          </button>
        </div>
      </header>
      <div class="app-body">
        <div class="app-body-navigation">
          <nav class="navigation">
            <a href="/create_projects" class="createprojectLink">
              <img
                src="/static/css/Fonts/Icons_for_navigation/add-icon.svg"
                class="addProject"
                alt="Добавить проект"
              />
              <span>Создать проект</span>
            </a>
            <a href="/my_projects" class="myProjectsLink">
              <img
                src="/static/css/Fonts/Icons_for_navigation/event_note-icon.svg"
                alt="Мои проекты"
              />
              <span>Мои проекты</span>
            </a>
            <a href="/singout" class="exitsPageLink">
              <img
                src="/static/css/Fonts/Icons_for_navigation/exit-icon.svg"
                alt="Выход"
              />
              <span>Выход</span>
            </a>
          </nav>
          <footer class="footer">
            <h1>Start <span class="Smart-span">Smart</span><small>©</small></h1>
          </footer>
        </div>
        <div class="app-body-main-content">
          {% block content %}{% endblock %}
          <!-- <div class="under-tabs"></div> -->
        </div>
      </div>
    </div>
  </body>
</html>
