<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/template.css" />
    <link rel="stylesheet" href="/static/css/modal_alert.css" />
    <link rel="icon" href="/static/css/Fonts/icon-page.svg" />
    <title>{% block title %}Start Smart{% endblock %}</title>
    {% block styles %}{% endblock %}
  </head>
  <body>
    <div class="app">
      <header class="app-header">
        <div class="app-header-logo">
          <a class="logo" href="/my_projects" style="text-decoration: none">
            <img
              src="/static/css/Fonts/logo/light-logo.svg"
              alt="Лампочка"
              class="lamp"
            />
            <img
              src="/static/css/Fonts/logo/blind-light-logo.svg"
              alt="Лампочка светящаяся"
              class="lamp-hover"
            />
            <h1 class="logo-title" style="gap: 5px; margin-left: 100px">
              <span style="color: white">Start </span>
              <span class="Smart" style="color: #d8315b">Smart</span>
            </h1>
          </a>
        </div>
        <div class="app-header-navigation">
          <div class="tabs"></div>
        </div>
        <div class="app-header-actions">
          <button class="user-profile">
            <span>{{nickname}}</span>
            <span>
              <img src="/static/css/Fonts/user-icon-default.svg" />
            </span>
          </button>
        </div>
        <div class="app-header-mobile">
          <button class="user-profile">
            <span>{{nickname}}</span>
            <span>
              <img src="/static/css/Fonts/user-icon-default.svg" />
            </span>
          </button>
        </div>
      </header>
      <div class="app-body">
        <div class="app-body-navigation">
          <nav class="navigation">
            <a href="/create_projects" class="createprojectLink">
              <img
                src="/static/css/Fonts/Icons_for_navigation/add-icon.svg"
                class="addProject"
                alt="Добавить проект"
              />
              <span>Создать проект</span>
            </a>
            <a href="/my_projects" class="myProjectsLink">
              <img
                src="/static/css/Fonts/Icons_for_navigation/event_note-icon.svg"
                alt="Мои проекты"
              />
              <span>Мои проекты</span>
            </a>
            <a href="/singout" class="exitsPageLink">
              <img
                src="/static/css/Fonts/Icons_for_navigation/exit-icon.svg"
                alt="Выход"
              />
              <span>Выход</span>
            </a>
            <a href="#" onclick="contactClick()" class="exitsPageLink">
              <img
                src="/static/css/Fonts/Icons_for_navigation/phone-icon.svg"
                alt="Контакты"
              />
              <span>Контакты</span>
            </a>
          </nav>
          <div class="current-tariff">
            <h2 class="text-tariff">Текущий баланс</h2>
            <div class="check-balans">
              <div class="tariff-chat-gpt">
                <img
                  src="/static/css/Fonts/Icons_for_tariff/chat-gpt.svg"
                  alt="Chat GPT"
                />
                <div class="tooltip-for-tarif">
                  Обработка AI (chatGPT-4o). Включает проблемные, решенческие
                  гипотезы, приоритизацию и roadmap проверки наилучшей.
                </div>
                <span id="balance-chat-gpt">{{tariff.ai_balance}} R</span>
              </div>
              <div class="line"></div>
              <div class="tariff-expert">
                <img
                  src="/static/css/Fonts/Icons_for_tariff/expert.svg"
                  alt="expert"
                />
                <div class="tooltip-for-tarif">
                  Обработка AI (chatGPT-4o) + эксперт (Product Manager).
                  Скоро...
                </div>
                <span id="balance-expert">{{tariff.ex_balance}} R</span>
              </div>
            </div>
          </div>
          <!-- <footer class="footer">
            <h1>Start <span class="Smart-span">Smart</span><small>©</small></h1>
          </footer> -->
        </div>
        <div class="app-body-main-content">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <div id="contact" class="modal">
      <div class="modal-content">
        <i class="fas fa-exclamation-circle" style="color: #dc3545"></i>
        <h2>Контакты</h2>
        <!-- <h4>Недостаточно средств для создание проекта</h4> -->
        <p>Если возникли вопросы <br />@AtikinNT</p>
        <button class="close-btn" id="alertBtncontact">OK</button>
      </div>
    </div>
  </body>
  <script>
    function contactClick() {
      const alertModal = document.getElementById("contact");
      const alertBtn = document.getElementById("alertBtncontact");

      alertModal.style.display = "flex";

      alertBtn.addEventListener("click", () => {
        alertModal.style.display = "none";
      });
    }
  </script>
</html>
