<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/creatProjYes.css" />
    <link rel="icon" href="static/css/Fonts/logo.jpg" type="image/icon type">

    <title>Есть идея</title>
</head>
<body>
    <div class = "bodyClass"> 
        <div class = "leftDivNavigator">
            <div class = "nicknameProfile">
            
            </div>
            <div class = "navigation">
                <div class = "profil"></div>
                <div class = "menu">
                    <div class="createproject">
                        <a href="#" class="createprojectLink">
                            <img src="static/css/Fonts/add.png" alt="альтернативный текст">
                            <span class="createprojectText"> Создать проект </span>
                        </a>
                    </div>
                    <div class="myProjects">
                        <a href="#" class="myProjectsLink">
                            <img src="static/css/Fonts/event_note.png" alt="альтернативный текст">
                            <span class="myProjectsText"> Мои проекты </span>
                        </a>
                    </div>
                    <div class="settingsPage">
                        <a href="options" class="settingsPageLink">
                            <img src="static/css/Fonts/build.png" alt="альтернативный текст">
                            <span class="settingsPageText"> Настройки </span>
                        </a>
                    </div>
                    <div class="exitsPage">
                        <a href="#" class="exitsPageLink">
                            <img src="static/css/Fonts/exit.png" alt="альтернативный текст">
                            <span class="exitsPageText"> Выход </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class = "mainDiv">
            <div id="windowProfile" class="window">
                <div class = "mainText">
                    Создать проект
                </div>

                <div class = "nameProject">
                    <div class = "nameProjectHeading">
                        Название проекта 
                    </div>
                    <div class = "projecTitleInput">
                        <input type="text" id="nameProjectInput" name="nameProject"/>
                        <button id = "hintBtnTitle">?</button>
                        <div class = "toolTitle" id = "toolchik1">
                            Название - это название вашего проекта)
                        </div>
                    </div>
                </div>

                <div class = "problemProject">
                    <div class = "problemProjectHeading">
                        Проблема
                    </div>
                    <div class = "projecProblemInput">
                        <input type="text" id="projecProblemInputText" name="problemsProject"/>
                        <button id = "hintBtnProblem">?</button>
                        <div class = "toolProblem" id = "toolchik2">
                            В данном поле вам нужно указать проблему, которую потенциально может решить ваш продукт.
                        </div>
                    </div>
                </div>

                <div class = "decisionProject">
                    <div class = "decisionProjectHeading">
                        Решение
                    </div>
                    <div class = "projecDecisionInput">
                        <input type="text" id="projecDecisionInputText" name="problemsProject"/>
                        <button id = "hintBtnDeci">?</button>
                        <div class = "toolDecision" id = "toolchik3">
                            В данном поле вам нужно указать решение указанной выше проблемы, то есть как и с помощью чего вы собираетесь ее решить.
                        </div>
                    </div>
                </div>
                <div class = "btnDiv">
                    <button id="createdProjectBtn">Создать</button>
                </div>
                <script src = "static/js/getHint.js"></script>
            </div>
        </div>
    </div>
</body>